@font-face {
    font-family: FontAwesome;
    src: url('/css/font-awesome-4.7.0/fonts/FontAwesome.otf');
}
/* Fixed sidenav, full height */
.sidenav {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 10px;
    color: white;
    text-align: right;
    direction: rtl;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    background-color: #ffffff;
    overflow-x: hidden;
}


/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
    font-family: "B Nazanin";
    text-decoration: none;
    font-size: 17px;
    color: #000000;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: right;
    cursor: pointer;
}

/* On mouse-over */
.sidenav a:hover {
    color: #8f8f8f;
}

.dropdown-btn:hover {
    color: #8f8f8f;
}

/* Main content */
.main {
    padding: 0px 202px 10px 20px;
}

/* Add an active class to the active dropdown button */
.active {
    background-color: #444444;
    color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: #cccccc;
    padding-right: 15px;
    font-size: 10px;
}

.dropdown-container a {
    font-size: 15px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
}

.titleTextInput {
    padding-top: 20px;
}

.blockOfInputs {
    direction: rtl;

}

table {
    overflow-x: hidden;
    text-align: center;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

@keyframes fade-in {
    5%{
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    90%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes load {
    to{
        transform: scaleX(1);
    }
}

.notification{
    z-index: 1;
    direction: rtl;
    text-align: right;
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: max-content;
    padding: 20px 15px;
    border-radius: 4px;
    box-shadow: 0 1px 10px rgba(0,0,0,0.1);
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    animation: fade-in 4s linear forwards;
}
.notificationSuccess{
    background-image: linear-gradient(45deg, rgb(59, 159, 34) 51%, rgb(41, 159, 10) 100%);
    color: #f6f5f9;
}
.notificationError{
    background-image: linear-gradient(45deg, rgb(255, 36, 36) 51%, rgb(252, 0, 0) 100%);
    color: #f6f5f9;
}
.notification_progress{
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: calc(100% - 10px);
    height: 3px;
    transform: scaleX(0);
    transform-origin: left;
    background-image: linear-gradient(to right,#539bdb,#3250bf);
    border-radius: inherit;
    animation: load 3s 0.25s linear forwards;
}

.editeTables{
    background-color: #3b3b3b;
    color: white;
}

.selected a::before{
    font-family: "FontAwesome";
    content:"\f00c";
    display: inline-block;
    padding-right: 4px;
    vertical-align: middle;
    color: gray;
    font-weight: 900;
}
.selectOption{
    cursor: pointer;
}
