.col-1{width:8.33%;}
.col-2{width:16.66%;}
.col-3{width:25%;}
.col-4{width:33.33%;}
.col-5{width:41.66%;}
.col-6{width:50%;}
.col-7{width:58.33%;}
.col-8{width:66.66%;}
.col-9{width:75%;}
.col-10{width:83.33%;}
.col-11{width:91.66%;}
.col-12{width:100%;}
[class*="col-"]
{
    float : right;
}

@media only screen and (max-width:600px){
    [class*="col-"]
    {
        float : right;
    }

    [class*="col-"]{
        width : 100%;
    }

    .logo{
        width: 90px;
        height: 80px;
    }
    .inputSearch{
        width: 120px
    }
    li a, .dropBtn{
        padding: 14px 0px;
        font-size: 12px;
    }
    .loginForm{
        width: 85%;
        padding: 30px 0px 30px 0px;
    }
    .products{
        width: 60%;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .inputText{
        width: 90%;
    }
    .fieldsetPassword{
        width: 85%;
    }
    .imageProduct{
        max-width: 50%;
        min-width: 50%;
        max-height: 50%;
        min-height: 50%;
        width: 50%;
        height: 50%;
    }
    .submitProfileChange{
        width: 95%;
        margin-top: 10px;
    }
    .submitAddToCart{
        margin: 0px;
        width: 90%;
    }
    .productsDetailsText{
        margin: 0px 8px 0px 20px;
    }
    .profileForm {
        margin-right: 10px;
    }
    .blockCart{
        display: inline;
    }
    .blockCartRight{
        box-shadow: 1px 1px 20px #ffffff;
        margin: 30px 0px 30px 0px;
    }
    .blockProductsCart{
        display: flex;
        justify-content: center;
    }
    .textPriceDetailsCart{
        text-align: right;
    }
    .blockCartLeft{
        text-align: center;
        width: 85%;
        margin: 0px 25px 20px 10px;
        padding: 0px 5px 0px 5px;
        border: 1px solid #d5d5d5;
        border-radius: 10px;
        height: 30%;
        background-image: linear-gradient(45deg, rgba(192,192,192,0.75) 51%, rgba(192,192,192,0.54) 100%);
    }
    .increaseCountDiv{
        width: 100%;
    }
    .decreaseCount{
        width: 100%;
    }
    .countDiv{
        width: 100%;
        display: inline;
    }
    .contentFooter{
        margin-right: 45px;
    }

}
